<!doctype html>
<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<title> Bernard Wen </title>
	</head>

	<ul id="nav_bar">
		<div id="logo">
			<h1> bernard wen </h1>
		</div>
		<li>Home</li>
		<li>About me</li>
		<li>Portfolio</li>
			<ul id="categories">
			{%- for category in categories %}
				<li><a href="#">{{category}}</a></li>
			{%- endfor %}
			</ul>
		<li>
		<li>Connect</li>

	</div>
	<div id="content">
		{% block body %}{% endblock %}
	</div>
</html>